layout {

    focus-ring {
        active-color   "#f66355"
        inactive-color "#291614"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#f66355"
        inactive-color "#291614"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#f66355"
        inactive-color "#921307"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#f6635580"
    }
}

recent-windows {
    highlight {
        active-color "#f66355"
        urgent-color "#fd4663"
    }
}
